.login_container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.7fr 1fr;

  .form_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    .form_container {
      width: 90%;
      //   border: 2px solid red;
      margin: auto;
      .form_header_container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 25px;
        .form_header_content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }

  .image_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image_container > img {
    height: 95%;
    width: 95%;
    object-fit: cover;
    border-radius: 10px;
  }
}
