@import '../../../assets/styles/mixins.scss';
.common-select {
    border-radius: 6px !important;
    font-weight: 500 !important;
    color: $gray-6 !important;
    height: 45px !important;
    border: 1px solid $gray-4 !important;
  }