@import '../../../assets/styles/mixins.scss';
.phone_input_main_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.phone_input_container {
  width: 100% !important;
  height: 45px !important;
  border: 1px solid #c8c8c8 !important;
  border-radius: 6px !important;
  font-weight: 500 !important;
  color: #626262 !important;
  box-shadow: none !important;
  overflow: hidden !important;
}
.phone_input_container:focus {
  border-color: #0f2742 !important;
  box-shadow: 0 0 0 2px rgba(4, 13, 19, 0.53) !important;
  outline: 0 !important;
  background-color: #ffffff !important;
}
.common-input {
  border-radius: 6px !important;
  font-weight: 500 !important;
  color: $gray-6 !important;
  height: 45px !important;
  border: 1px solid $gray-4 !important;
}

.ant-form-item-label {
  font-weight: 600;
}