@import "../../assets/styles/mixins.scss";

@media (max-width: 922px) {
    .responsiveSider {
        display: none;
    }

    .sideBarMenuTab {
        display: flex;
        font-size: 20px;
    }
}


@media (max-width: 430px) {
        .header {
        display: block;
        padding: 20px;
    }
    .headerRight {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .topBarProfile {
      width: 35px;
      height: 35px;
      border-radius: 50px;
      background-color: #3E3E3E;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
      font-size: 15px;
    }
}
