@import "./mixins.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LufgaRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth !important;
  -webkit-animation-timing-function: linear !important;
  animation-timing-function: linear !important;
}

.heading1 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  color: $black;
  text-transform: capitalize;
}

.heading2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: $black;
}

.heading3 {
  font-size: 18px;
  // line-height: ;
  color: $black;
}

.heading4 {
  font-size: 16px;
  // line-height: ;
  color: $black;
}

.bodyText {
  font-size: 14px;
  // line-height: ;
  color: $black;
}

.description {
  font-size: 12px;
  // line-height: ;
  color: $gray-6;
}

.ant-form-item-label {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-success {
  color: $success;
}

.text-danger {
  color: $danger;
}

.cursor_pointer {
  cursor: pointer;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button:disabled {
  background: $primary !important;
  color: white !important;
}
