@import "./mixins.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LufgaRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth !important;
  -webkit-animation-timing-function: linear !important;
  animation-timing-function: linear !important;
}

.heading1 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
  color: $black;
  text-transform: capitalize;
}

.heading2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: $black;
}

.heading3 {
  font-size: 18px;
  // line-height: ;
  color: $black;
}

.heading4 {
  font-size: 16px;
  // line-height: ;
  color: $black;
}

.bodyText {
  font-size: 14px;
  // line-height: ;
  color: $black;
}

.description {
  font-size: 12px;
  // line-height: ;
  color: $gray-6;
}

.ant-form-item-label {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-success {
  color: $success;
}

.text-danger {
  color: $danger;
}

.cursor_pointer {
  cursor: pointer;
}

.btn-success {
  background-color: $primary-extra-light;
}

.btn-success:hover {
  background-color: $primary-extra-light !important;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ant-btn-primary:disabled {
  background: $primary !important;
  color: white !important;
}

.ant-btn-dashed:disabled {
  background: white !important;
  color: rgba(0, 0, 0, 0.88) !important;
}

.ant-btn-default:disabled {
  background: white !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

.ant-btn-link:disabled {
  color: $primary !important;
}

.ant-btn-text:disabled {
  color: $primary !important;
}
.ant-btn-dangerous:disabled {
  background: $red !important;
}
.ant-btn-dashed.ant-btn-dangerous:disabled {
  border-color: $red !important;
  color: $red !important;
  background: transparent !important;
}
.ant-btn-default.ant-btn-dangerous:disabled {
  border-color: $red !important;
  color: $red !important;
  background: transparent !important;
}
.ant-btn-link.ant-btn-dangerous:disabled {
  color: $red !important;
  background: transparent !important;
}
.ant-btn-text.ant-btn-dangerous:disabled {
  color: $red !important;
  background: transparent !important;
}

.ant-dropdown-menu-item-selected {
  background-color: rgba($primary, 0.1) !important;
}
