@import "../../../assets/styles/mixins.scss";

.createForm {
    height: 75vh;
    display: grid;
    grid-template-columns: 25% 75%;
    // grid-template-columns: 0.2fr 0.1fr 1fr;
    padding: 2rem 3rem;
    gap:30px;
    max-height: auto;
    :global(.ant-tabs-nav-list) {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    :global(.ant-tabs-tab) {
      font-size: 20px !important;
    }
  }

.ant-steps-item-container{
    display: flex;
  align-items: center;
}

.stepper {
  height: 100%;
  width: 100%;
  border-right: 1px #e6e3e3 solid;
  // justify-content: space-between;
}


.stepperVertical {
  display:block;
  // height: 100%;
  height: 60vh;
}
.stepperHorizontal {
  display: none;
}

.reservoir {
  margin-top: 10px;
  height: calc(100vh - 400px);
  overflow: auto;
}

.modal {
  width: 700px !important;
  // background-color: aqua !important;
}

@media (max-width: 1300px) {
  .stepperVertical {
    display: none;
    height: 100%;
  }
  .stepperHorizontal {
    display: block;
    height: 100%;
    width: 100%;
  }

  .stepper {
    width: 100%;
    border-right: none;
    padding-bottom: 10px;
    border-bottom: 1px #e6e3e3 solid;
  }

  .createForm {
    height: 75vh;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 25% 75%;
    // grid-template-columns: 0.2fr 0.1fr 1fr;
    padding: 2rem 3rem;
    gap:30px;
    max-height: auto;
    :global(.ant-tabs-nav-list) {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    :global(.ant-tabs-tab) {
      font-size: 20px !important;
    }
  }

}

@media (max-width: 430px) {
  .createForm {
    height: 75vh;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 25% 75%;
    // grid-template-columns: 0.2fr 0.1fr 1fr;
    padding: 0.5rem;
    gap:30px;
    max-height: auto;
    :global(.ant-tabs-nav-list) {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
    :global(.ant-tabs-tab) {
      font-size: 20px !important;
    }
  }
}
